html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;

  background: var(--background-main-color);
  color: var(--text-main-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p, figure, fieldset {
  margin: 0;
}

fieldset {
  border: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1980px;
  padding: 0 30px;
}