.header {
  padding: 47px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ____________________________navigation */
.navigation {
  display: flex;
  align-items: center;
}

.navigation__icon {
  height: 32px;
  margin-right: 20px;
}

.navigation__icon--close {
  display: none;
}

.navigation__title {
  font-weight: 300;
  color: var(--text-green);
}

.navigation__list {
  display: none;
}

/* ____________________________contacts */
.header__contacts {
  display: flex;
}

.header__number {
  background: none;
  border: none;
  color: inherit;
  margin-right: 163px;
  padding: 0;
}

/* ____________________________social */
.social__list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.social__item {
  font-size: 0;
}









/* font-family: 'Manrope', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */