.header {
  padding: 47px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ____________________________navigation */
.navigation {
  display: flex;
  align-items: center;
}

.navigation__icon {
  font-size: 0;
  margin-right: 20px;
}

.navigation__icon--close {
  display: none;
}

.navigation__title {
  font-weight: 300;
  color: var(--accent-green);
}

.navigation__list {
  display: flex;
  gap: 116px;
  /* display: none; */
}

.navigation__link {
  font-weight: 700;
}

.navigation__link--accent-green {
  color: var(--accent-green);
}

/* ____________________________contacts */
.header__contacts {
  display: flex;
}

.header__number {
  font-size: var(--font-size-24);
  font-weight: 700;
  background: none;
  border: none;
  color: inherit;
  margin-right: 163px;
  padding: 0;
}

.button-callback {
  font-size: var(--font-size-24);
  font-weight: 700;
  border-radius: 10px;
  border: 2px solid var(--accent-green);
  background: var(--accent-white);
  color: inherit;
  padding: 31px 100px;
}

/* ____________________________social */
.social__list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.social__item {
  font-size: 0;
}


/* ____________________________tmp */
.section {
  padding: 49px;
  background-color: var(--accent-white);
}

.container__tmp {
  display: flex;
  justify-content: space-between;
}

.menu__copy {
  display: flex;
}

.navigation__list--tmp {
  padding-top: 3px;
}

.navigation__column {
  display: flex;
  flex-direction: column;
}

.navigation__item--tmp:first-child {
  margin-bottom: 27px;
}

.navigation__item--tmp:nth-child(even) {
  margin-bottom: 25px;
}

.header__call {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3px;
}

.header__number--tmp {
  margin: 0;
  margin-bottom: 34px;
}







/* font-family: 'Manrope', sans-serif;
font-family: 'Roboto Slab', serif; */