.body {
  --background-main-color: linear-gradient(180deg, #F4F2EC 0%, #E2DBD7 100%);
  --main-color: #333;
  --accent-green: #307632;
  --accent-white: #fff;

  --font-size-24: 24px;

  --box-shadow-common: 0px 5px 35px 0px rgba(0, 0, 0, 0.20);
}